body{
    background-image: url(./img/bgdemo3.jpg);
    background-size:cover;  
    background-repeat:repeat;
    background-position:center center; 
    overflow:hidden;
}

iframe{
    overflow:hidden;
}

.navbar-nav>li>a:hover{
    color:red !important;
}